<main>
  <section class="perfil">
    <img
      class="perfil__avatar"
      src="../assets/img/avatar.jpg"
      alt="imagen de avatar"
    />
    <h2 class="perfil__nombre">John Wichk</h2>
    <h3 class="perfil__titulo">asesino lejendario</h3>
    <a class="perfil__boton" href="">seguir</a>

    <div class="perfil--estadistica">
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">12k</h3>
        <span>seguidores</span>
      </div>

      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">1.7k</h3>
        <span>seguiendo</span>
      </div>
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">12k</h3>
        <span>articulos</span>
      </div>
    </div>

    <div class="perfil__bio">
      <h2>acerca de mi</h2>
      <h3>asesino a sueldo retirado y maante de los perros</h3>
    </div>

    <div class="perfil__ubicacion">
      <i class="fa-solid fa-location-dot"></i>
      <h2>Estados unidos</h2>
      <h3>227km Cerca</h3>
    </div>

    <div class="perfil--galeria">
        <h2>Mis fotos</h2>
        <div class="perfil--galeria__contenedor">
          <img
            class="galeria__fotos galeria__foto--1"
            src="../assets/img/galeria1.jpg"
            alt="imagen1"
          />
          <img
            class="galeria__fotos galeria__foto--2"
            src="../assets/img/galeria2.jpg"
            alt="imagen2"
          />
          <img
            class="galeria__fotos galeria__foto--3"
            src="../assets/img/galeria3.jpg"
            alt="imagen3"
          />
          <img
            class="galeria__fotos galeria__foto--4"
            src="../assets/img/galeria4.jpg"
            alt="imagen4"
          />
        </div>|
      </div>
  </section>

  <section class="noticias">
    <div class="noticias__contenedor">
      <article class="articulo">
        <p class="articulo__sub-titulo">Playstation</p>
        <h3 class="articulo__titulo">
          GTA VI: FILTRACIONES DE INFORMACIÓN QUE SON BASTANTE DUDOSAS
        </h3>
        <p class="articulo__texto">
          Recientemente se filtró en Internet una importante cantidad de
          supuesta información sobre Grand Theft Auto VI (GTA VI) que nos ofrece
          una muy buena idea de lo que podemos esperar.
        </p>
      </article>

      <article class="articulo">
        <p class="articulo__sub-titulo">SWITCH</p>
        <h3 class="articulo__titulo">
          SECUELA DE THE LEGEND OF ZELDA: BREATH OF THE WILD ANUNCIADA EN EL E3
          2019
        </h3>
        <p class="articulo__texto">
          Nintendo anunció la secuela de The Legend of Zelda: Breath of the Wild
          en el E3 2019 y todos estamos más que emocionados con esto.
        </p>
      </article>

      <article class="articulo">
        <p class="articulo__sub-titulo">XBOX</p>
        <h3 class="articulo__titulo">
          RED DEAD ONLINE RECIBE ACTUALIZACIÓN MASIVA Y SALE DE BETA
        </h3>
        <p class="articulo__texto">
          Rockstar lanzó el día de hoy la actualización más grande de Red Dead
          Online desde que el componente online de Red Dead Redemption 2 se
          lanzó en noviembre.
        </p>
      </article>

      <article class="articulo">
        <p class="articulo__sub-titulo">PLAYSTATION</p>
        <h3 class="articulo__titulo">
          UNCHARTED 5: RUMORES SOBRE UNA POSIBLE NUEVA ENTREGA
        </h3>
        <p class="articulo__texto">
          Recientemente han surgido rumores en Internet acerca de una posible
          nueva entrega de la serie Uncharted. Aunque aún no hay confirmación
          oficial, los fanáticos están ansiosos por saber más.
        </p>
      </article>
    </div>
  </section>
</main>
