<main>
  <section class="perfil">
    <img
      class="perfil__avatar"
      src="../assets/img/avatar.jpg"
      alt="imagen de avatar"
    />
    <h2 class="perfil__nombre">John Wichk</h2>
    <h3 class="perfil__titulo">asesino lejendario</h3>
    <a class="perfil__boton" href="">seguir</a>

    <div class="perfil--estadistica">
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">12k</h3>
        <span>seguidores</span>
      </div>

      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">1.7k</h3>
        <span>seguiendo</span>
      </div>
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">12k</h3>
        <span>articulos</span>
      </div>
    </div>

    <div class="perfil__bio">
      <h2>acerca de mi</h2>
      <h3>asesino a sueldo retirado y maante de los perros</h3>
    </div>

    <div class="perfil__ubicacion">
      <i class="fa-solid fa-location-dot"></i>
      <h2>Estados unidos</h2>
      <h3>227km Cerca</h3>
    </div>

    <div class="perfil--galeria">
        <h2>Mis fotos</h2>
        <div class="perfil--galeria__contenedor">
          <img
            class="galeria__fotos galeria__foto--1"
            src="../assets/img/galeria1.jpg"
            alt="imagen1"
          />
          <img
            class="galeria__fotos galeria__foto--2"
            src="../assets/img/galeria2.jpg"
            alt="imagen2"
          />
          <img
            class="galeria__fotos galeria__foto--3"
            src="../assets/img/galeria3.jpg"
            alt="imagen3"
          />
          <img
            class="galeria__fotos galeria__foto--4"
            src="../assets/img/galeria4.jpg"
            alt="imagen4"
          />
        </div>|
      </div>
  </section>
  <section class="noticias">
    <div>
      <h1>playstation</h1>
      <span>GTA VI: FILTRACIONES DE INFORMACIÓN QUE SON BASTANTES DUDOSAS</span>
      <P>Recienteme se filtro en internet una importatne cantidad de supuesta información sobre
        Grand Theft Auto VI (GTA VI) que nos ofrece una muy buena idea de lo que podemos esperar.
      </P>
    </div>

  </section>
</main>
