*{
    padding: 0;
    margin: 0;   
}

body{
    background-color: rgba(173, 173, 173, 0.815);
    color: black;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container{
    max-width: 450px;
    margin: auto;
}

.container-form{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: beige;
    border-radius: 10px;

}

.container-form label{
    padding: 10px;
    border-radius: 10px;
}



