* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    color: white;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgba(61, 137, 224, 0.836);
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.nav-list li:hover {
    color: aquamarine;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(61, 198, 150, 0.308);
}

.container .container-rectangulo, .container
.container-circulo {
    display: none;
}

.container .container-rectangulo.active,
.container .container-circulo.active {
    display: block;
}


.container-rectangulo, 
.container-circulo {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 1px;
    background-color: rgb(66, 173, 137);
    padding: 10px;
    border-radius: 5px;
}

.container-rectangulo label,
.container-circulo label {
    font-family: Roboto, sans-serif;
    margin-top: 5px;
    display: flex;
}

.container-rectangulo input,
.container-circulo input {
    border-radius: 10px;
    padding: 3.5px;
    display: flex;
}
